/* Color palette */

:root {
  --color-primary: #4256EB;
  --color-black: #000000;
  --color-purple: #A134EA;
  --color-purple-light: #F6ECFF;
  --color-blue-light: #E9ECFF;
  --color-gray-light: #F4F4F4;
  --color-white: #FFFFFF;
  --color-gray-purple: #c9d0ff;
}